PROJECT_NAME="BIST Tracker"
API_V1_STR="/api/v1"

# Database (Apple Silicon Docker Postgres)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=bist_tracker_db

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379